[submodule "manifests/private"]
	path = manifests/private
	url = git@dev.littlestreamsoftware.com:littlestreamsoftware_puppet_private.git
[submodule "modules/puppet-ruby1.8"]
	path = modules/puppet-ruby1.8
	url = git://github.com/littleidea/puppet-ruby1.8.git
[submodule "modules/puppet-rubygems"]
	path = modules/puppet-rubygems
	url = git://github.com/littleidea/puppet-rubygems.git
[submodule "modules/puppet-mysql"]
	path = modules/puppet-mysql
	url = git://github.com/littleidea/puppet-mysql.git
[submodule "modules/puppet-apache2"]
	path = modules/puppet-apache2
	url = git://github.com/littleidea/puppet-apache2.git
[submodule "modules/puppet-passenger"]
	path = modules/puppet-passenger
	url = git://github.com/littleidea/puppet-passenger.git
